# Folders
.idea/
.ipynb_checkpoints/
.vs/
.vscode/
__pycache__/
build/
datasets/
dist/
old/
results/
tensorboard/

# Folders mask
*.egg-info/

# Filetypes
*.pyc
*.err
*.out
*.torch

# Specific files
.tmp_sbatch.sh
.sbatch_*.sh
.sbatch.sh
*.ign*
