# Folders
.idea/
.ipynb_checkpoints/
.vs/
.vscode/
__pycache__/
build/
data/
dist/
old/
results/
tensorboard/
lightning_logs/
outputs/
.hydra/
boards/
logs/

# Folders mask
*.egg-info/

# Filetypes
*.pyc
*.err
*.out
*.torch
*ign*
.tmp*

# Specific files
.sbatch.sh
cfg.sh
