
torch~=1.7.1
torchaudio~=0.7.2
torchvision~=0.8.2
pytorch-lightning~=1.2.10
hydra-core~=1.0.6
tensorboard
matplotlib
numpy
librosa
h5py
pandas
tqdm
soundfile
advertorch
MLU @ git+https://github.com/Labbeti/MLU@v0.5.0
